@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-y: auto;
    padding-top: 60px; /* padding for fixed navbar */
}

/* hidden spacer before sections for proper offset */
main h3:before {
    height: 60px;
    content: "";
    display:block;
}

